{% extends 'layout.html' %}

{% block body_content %}

    <div>
        <table class="table">
            <tr>
                <th>Name</th>&nbsp;
                <th>Age</th>&nbsp;
                <th>Weightclass</th>&nbsp;
                <th>Record</th>&nbsp;
                <th>Last Five</th>&nbsp;
                <th>Added By</th>&nbsp;
            </tr>

            {% for Fighters in fighter %}
                <tr class="tableText">
                    <td><p><b>{{ Fighters.f_name }} {{ Fighters.l_name }}</b></p></td>
                    <td><p>{{ Fighters.age }}</p></td>
                    <td><p>{{ Fighters.weightclass }}</p></td>
                    <td><p>{{ Fighters.record }}</p></td>
                    <td><p>{{ Fighters.lastfive }}</p></td>
                    <td><p>{{ Fighters.author.f_name }} {{ Fighters.author.l_name }}</p></td>
                    <td>
                      {% if current_user.is_authenticated == True %}
                        <form action="{{ url_for('updateFighter', up=Fighters.id) }}">
                            <button type="submit">Update</button>
                        </form>
                      {% endif %}
                    </td>
                    <td>
                      {% if current_user.is_authenticated == True %}
                        <form action="{{ url_for('deleteFighter', delete=Fighters.id) }}">
                            <button onclick="return confirm('Are you sure you want to Delete Fighter?');" type="submit">Delete</button>
                        </form>
                      {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
{% endblock %}