<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Unknown title</title>
    {% endif %} <!--we need to end the block if used in html -->
    <style>
        .table {
            width: 80%;
        }
        .tableText {
            width: 70%;
            text-align: -webkit-left;
        }
        .form {
            width: 50%;
            alignment: right;
            text-align: right;
        }
        .navbar {
            width: 50%;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Welcome to MMA stats!</h1>
    <br>
    <div class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        &nbsp;
        <a href="{{ url_for('about') }}">About</a>
        &nbsp;
        <a href="{{ url_for('add') }}">Add Fighter</a>
        &nbsp;
        <a href="{{ url_for('register') }}">Register User</a>
        <br>
        <br>
         <a href="{{ url_for('login') }}">Log in</a>
        &nbsp;&nbsp;&nbsp;
         <a href="{{ url_for('logout') }}">Log out</a>

    </div>
    <br>
    {% block body_content %}
    {% endblock %}
</body>
</html>